/*********************
Margins
*********************/
// margin top & bottom
.u-mg-ns{
	margin-top:$margin;
	margin-bottom:$margin;
}

/*********************
Floats
*********************/
// float right
.u-fl-r{
	float:right;
}

// float left
.u-fl-l{
	float:left;
}

/*********************
Text Formats
*********************/
// center
.u-txt-c{
	text-align:center;
}

/*********************
Icons
*********************/



/*********************
Hide Utilities
*********************/
// hide on desktop
.u-hid-md{
	@include screen-size(md-max){
		display:none;
	}
}

.u-sho-md{
	@include screen-size(md-min){
		display:none;
	}
}


/*********************
VERTICAL CENTERING
*********************/
.u-v{

	@include screen-size(md-min){
		position: absolute;
	    left: 50%;
	    top: 50%;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    max-width:500px;
	}

    @include screen-size(md-max){
    	width:100%;
    }
}

/*********************
COLORS
*********************/

.u-white{
	color:$white;
}

/*********************
WEIGHTS
*********************/

.u-b{
	font-weight:bold;
}