.c-list{
	list-style-type:none;
}

.c-list--inline{
	li{
		display:inline-block;
	}
}

.c-list--nav{
	li {
		padding:0 $padding;

		a{
			font-size:$base-space;
			color:$white-faint;
			text-decoration:none;
			padding-bottom:$padding/2;

			&:hover{
				border-bottom:1px solid $white-faint;
			}
		}
	}
}