.c-section{
	@include css-gradient($dark-blue,$light-blue);
	@include width();
	@include height();
	border-radius:$base-radius;
	padding:$padding;
	position:absolute;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.8);
    left: $base-space;
    top: $base-space;
    right: $base-space;
    bottom: $base-space;
    text-align:center;

    @include screen-size(sm-max){
    	position:static;
    	height:100%;
    }
}

.c-section__text{
	margin:$base-space*2 0;
	color:$white-faint;
}

.c-section__header{
	float:right;

	@include screen-size(md-max){
		float:none;
	}
}